<div class="dashboard-header">
  <div class="header-content">
    <img src="assets/churn-icon.png" alt="Predictions Icon" class="logo-icon" />
    <h1>Churn Analytics Dashboard</h1>
  </div>
</div>


<!-- Filter Panel -->
<div class="filter-panel">
  <qlik-embed ui="analytics/chart" [attr.app-id]="appId" [attr.object-id]="filterPanelId"></qlik-embed>
</div>

<!-- Sheet Tab Buttons -->
<div class="sheet-tabs">
  <button *ngFor="let key of sheetKeys" [class.active]="currentSheetId === sheetIds[key]"
    (click)="switchSheet(sheetIds[key])">
    {{ key | titlecase }}
  </button>
</div>

<!-- Embedded Sheet Container -->
<div class="sheet-container">
  <div class="qlik-frame-wrapper">
    <qlik-embed id="qlik-sheet-view" ui="classic/app" [attr.app-id]="appId"
      [attr.sheet-id]="currentSheetId"></qlik-embed>
  </div>
</div>